*{
    margin: 0;
   
}

/* estipo para el fondo de la pagina */
body{
    background-image: url(./imgs/fondo_AppClima.jpg);
    background-size: cover;

}

/* Estilos para el header en general */
header{
    background-color: rgb(1, 16, 49);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Lucida Handwriting, cursive;
    margin: 0 0;
    border-radius: 0 0 20px 20px;
    padding: 1%;
}


/* Estilos para el main en general */
form{
    display: grid;
    justify-items: center;
    margin-top:12.5%;
    gap: 15%;
    padding: 2%;
}


input{
    width: 30%;
    border-radius: 10px;
    border: none;
    padding: 1%;
    font-size: 1.2rem;
    text-align: center;
    margin-right:2% ;
    margin-left: 60rem;
}

button{
    border-radius: 10px;
    border: none;
    padding: 1%;
    font-size: 1.2rem;
    background-color: rgb(67, 56, 228);
    color: white;
    cursor: pointer;
     margin-right:2% ;
    margin-left: 60rem;
}

/* Estilos para el resultado de la busqueda  */
#container{
    background-color: rgba(1, 16, 49,0.4);
    display: flex;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 100px;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    margin-top:2%;
    margin-right:2% ;
    margin-left: 60rem;
    gap: 1rem;
    padding: 2%;
    font-size: 1.5rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

